body {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: rgb(92, 146, 255, 0.2);
}
button:hover {
  border-width: 5px;
}
header {
  margin: 6px;
  height: 64px;
}
footer {
  float: right;
}
.h-page p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}
.h-page {
  padding: 30px;
}

.logo,
.menu {
  float: left;
  height: 100%;
  width: calc(50% - 3px);
}
a {
  color: black;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  margin: 0;
  margin-top: 15px;
}
.menu li {
  float: left;
  margin-right: 50px;
  font-size: 22px;
  text-align: center;
}
.disable {
  color: rgb(92, 146, 255, 0.8);
  pointer-events: none;
}

.logo {
  margin-right: 6px;
  background-color: rgb(92, 146, 255, 0.6);
  border-radius: 12px 0 0;
}
.logo img {
  height: 100%;
  float: left;
}
.logo h1 {
  float: left;
  font-weight: lighter;
  font-style: italic;
  margin-left: 150px;
  margin-top: 10px;
}
.menu {
  background-color: rgb(92, 146, 255, 0.6);
  border-radius: 0 12px 12px 0;
}
.content {
  height: 650px;
  /* background-color: rgba(92, 146, 255, 0.6); */
  margin: 0 6px 6px 6px;
  border-radius: 0 0 12px 12px;
}
.main {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(92, 146, 255, 0.6);
  border-radius: 0 0 24px 0;

  border-left: 1px solid #dfe5ec;
  border-right: 2px solid #d2dbe3;
  border-bottom: 2px solid #d2dbe3;
}

/* table */
.entities-list {
  height: calc(100%-32px);
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}
.entities-list .case .case-body {
  width: 98%;
  height: 42px;
  background-color: rgb(92 146 255 / 31%);
  margin: 0 auto;
}
.entities-list hr {
  border-style: solid;
  border-width: 0.1px;
  width: 78%;
  margin-left: 20px;
  border-color: rgb(0 0 0 / 10%);
  margin-top: 6px;
}
.entities-list .case-body div {
  height: 100%;
  margin: 0;
  margin-left: 8px;
  width: 276px;
  float: left;
}
.entities-list .case-body p {
  margin: 0;
  margin-top: 12px;
}
.search {
  width: 100%;
  height: 32px;
  margin-bottom: 10px;
}
.search div {
  float: left;
}
.search p {
  margin: 0;
  margin-top: 6px;
}
.search form {
  padding: 6px 0 0 0;
  float: right;
}
.search input {
  border: none;
  height: 22px;
  width: 190px;
  background-color: rgb(246 246 246);
  float: left;
}
.search button {
  background: url(../images/clipart.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin: 0 6px 0 6px;
  border: 0;
  padding: 0;
}
.entities-list .head {
  margin-bottom: 10px;
}
.entities-list .head-list {
  width: 98%;
  height: 18px;
  background-color: rgb(92 146 255 / 65%);

  margin: 0 auto;

  border-radius: 4px 4px 0 0;
}
.entities-list .head p {
  margin: 0;
}
.entities-list .head .head-list div {
  height: 100%;
  margin: 0;
  margin-left: 8px;
  width: 276px;
  float: left;
}
.notfound {
  width: 100%;
  text-align: center;
}
.pages {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 0.225px);
}
.navigate form {
  float: left;
  margin-left: 7px;
}
.navigate {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 90px);
}
.navigate form button {
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
  height: 32px;
  font-weight: bold;
  width: 42px;
}
.addnew {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 442px);
}
.addnew button {
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
  height: 32px;
  width: 100px;
}
.form {
  width: 226px;
  margin: 0 auto;
  padding-top: 110px;
}
.form input {
  border: none;
  height: 22px;
  width: 190px;
  background-color: rgb(246 246 246);
}
.form button {
  margin-top: 6px;
  width: 90px;
  height: 32px;
  float: right;
  margin-right: 30px;

  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
}
.tank-page {
  height: calc(70% - 4px);
  width: 80%;
  background-color: rgb(92, 146, 255, 0.2);
  margin: 0 auto;
  padding-top: 4px;
  margin-top: 2px;
  border-radius: 24px 0 0 0;
  box-shadow: inset -6px -6px 11px 4px #5782b6;
}
.tank-page div {
  float: left;
  height: 100%;
  width: 50%;
}
.tank-page .l {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgb(92 146 255 / 65%);
  border-bottom: 3px solid #ffffff42;
  font-size: 10px;
  margin-right: 0;
  float: left;
}
.tank-page .r {
  float: left;
  margin: auto 0;
  font-size: 18px;
  margin-left: 8px;
}
.tank-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tank-page li div {
  width: 100%;
  display: flex;
  align-items: center;
}
.tank-page hr {
  border-style: solid;
  border-width: 0.1px;
  width: 78%;
  margin-left: 10px;
  border-color: #a9b7c67a;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tank-page .tank-img button {
  margin-top: 6px;
  width: 90px;
  height: 32px;
  float: right;
  margin-right: 30px;

  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
}
.tank-page .tank-img form {
  width: 100%;
  height: 38px;
}

/* // */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

textarea:focus,
input:focus {
  outline: none;
}
/* // */
