body {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: rgb(92, 146, 255, 0.2);
}
button:hover {
  border-width: 5px;
}
header {
  margin: 6px;
  height: 64px;
}
footer {
  float: right;
}
.h-page p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}
.h-page {
  padding: 30px;
}

.logo,
.menu {
  float: left;
  height: 100%;
  width: calc(50% - 3px);
}
a {
  color: black;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  margin: 0;
  margin-top: 15px;
}
.menu li {
  float: left;
  margin-right: 105px;
  font-size: 26px;
  text-align: center;
}
.disable {
  color: rgb(92, 146, 255, 0.8);
  pointer-events: none;
}

.logo {
  margin-right: 6px;
  background-color: rgb(92, 146, 255, 0.6);
  border-radius: 12px 0 0;
}
.logo img {
  height: 100%;
  float: left;
}
.logo h1 {
  float: left;
  font-weight: lighter;
  font-style: italic;
  margin-left: 150px;
  margin-top: 10px;
}
.menu {
  background-color: rgb(92, 146, 255, 0.6);
  border-radius: 0 12px 12px 0;
}
.content {
  height: 650px;
  /* background-color: rgba(92, 146, 255, 0.6); */
  margin: 0 6px 6px 6px;
  border-radius: 0 0 12px 12px;
}
.main {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(92, 146, 255, 0.6);
  border-radius: 0 0 24px 0;

  border-left: 1px solid #dfe5ec;
  border-right: 2px solid #d2dbe3;
  border-bottom: 2px solid #d2dbe3;
}

/* table */
.entities-list {
  height: calc(100%-32px);
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}
.entities-list .case .case-body {
  width: 98%;
  height: 42px;
  background-color: rgb(92 146 255 / 31%);
  margin: 0 auto;
}
.entities-list hr {
  border-style: solid;
  border-width: 0.1px;
  width: 78%;
  margin-left: 20px;
  border-color: rgb(0 0 0 / 10%);
  margin-top: 6px;
}
.entities-list .case-body div {
  height: 100%;
  margin: 0;
  margin-left: 8px;
  width: 276px;
  float: left;
}
.entities-list .case-body p {
  margin: 0;
  margin-top: 12px;
}
.search {
  width: 100%;
  height: 32px;
  margin-bottom: 10px;
}
.search div {
  float: left;
}
.search p {
  margin: 0;
  margin-top: 6px;
}
.search .sform {
  padding: 6px 0 0 0;
  float: right;
}
.search input {
  border: none;
  height: 22px;
  width: 190px;
  background-color: rgb(246 246 246);
  float: left;
}
.search button {
  background: url(../images/clipart.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin: 0 6px 0 6px;
  border: 0;
  padding: 0;
}
.entities-list .head {
  margin-bottom: 10px;
}
.entities-list .head-list {
  width: 98%;
  height: 18px;
  background-color: rgb(92 146 255 / 65%);

  margin: 0 auto;

  border-radius: 4px 4px 0 0;
}
.entities-list .head p {
  margin: 0;
}
.entities-list .head .head-list div {
  height: 100%;
  margin: 0;
  margin-left: 8px;
  width: 276px;
  float: left;
}
.notfound {
  width: 100%;
  text-align: center;
}
.pages {
  /* position: absolute;
  bottom: 30px;
  left: calc(50% - 0.225px); */
  position: absolute;
  bottom: 42px;
  left: calc(50% - 9.225px);
}
.navigate form {
  float: left;
  margin-left: 7px;
}
.navigate {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 90px);
}
.navigate button {
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
  height: 32px;
  font-weight: bold;
  width: 42px;
}
.addnew {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 442px);
}
.addnew button {
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
  height: 32px;
  width: 100px;
}
.form {
  width: 226px;
  margin: 0 auto;
  padding-top: 110px;
  height: 210px;
}
.form input {
  border: none;
  height: 22px;
  width: 222px;
  background-color: rgb(246 246 246);
}
.form button {
  margin-top: 6px;
  width: 90px;
  height: 32px;
  float: right;
  margin-right: 30px;
  margin-bottom: 0;
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
}

.mini-list {
  width: 236px;
  height: 240px;
  margin: 0 auto;
  margin-top: 10px;
  overflow-y: scroll;
}
.mini-list table {
  margin: 0;
  padding: 0;
}
.mini-list table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.mini-list tr {
  width: 100%;
  height: 28px;
}
.mini-list td {
  width: 48%;
  height: calc(100% - 4px);
  text-align: center;
  margin: 0%;
  float: left;
  padding-top: 4px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
tbody tr:nth-child(odd) {
  background-color: rgb(92 146 255 / 22%);
}

tbody tr:nth-child(even) {
  background-color: rgb(255 255 255 / 60%);
}

.tank-page {
  height: calc(70% - 4px);
  width: 80%;
  background-color: rgb(92, 146, 255, 0.2);
  margin: 0 auto;
  padding-top: 4px;
  margin-top: 2px;
  border-radius: 24px 0 0 0;
  box-shadow: inset -6px -6px 11px 4px #5782b6;
}
.tank-page div {
  float: left;
  height: 100%;
  width: 50%;
}
.tank-page .l {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgb(92 146 255 / 65%);
  border-bottom: 3px solid #ffffff42;
  font-size: 10px;
  margin-right: 0;
  float: left;
}
.tank-page .r {
  float: left;
  margin: auto 0;
  font-size: 18px;
  margin-left: 8px;
}
.tank-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tank-page li div {
  width: 100%;
  display: flex;
  align-items: center;
}
.tank-page hr {
  border-style: solid;
  border-width: 0.1px;
  width: 78%;
  margin-left: 10px;
  border-color: #a9b7c67a;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tank-page .tank-img button {
  margin-top: 6px;
  width: 90px;
  height: 32px;
  float: right;
  margin-right: 30px;

  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
}
.tank-page .tank-img form {
  width: 100%;
  height: 38px;
}

/* // */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

textarea:focus,
input:focus {
  outline: none;
}
/* // */
/*
 *  STYLE 2
 */

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff00;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff00;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.612);
}

/* 
 */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  display: none;
}
.notifications {
  /* bottom: -200px; */
  background-color: rgba(92, 146, 255, 0.6);
  padding: 9px;
  width: 16%;
  position: fixed;
  z-index: 21312;
  border-radius: 5px 5px 5px 20px;
  transition: all 0.5s linear;
  left: 6px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content div {
  float: right;
  height: 20px;
  width: 204px;
}
.modal-content button {
  background-color: rgb(92 146 255 / 65%);
  border-color: rgb(0 0 0 / 10%);
  height: 32px;
  width: 100px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.castAlert {
  text-align: center;
  background-color: #5dea7fb0;
  height: 36px;
  float: right;
  position: fixed;
  right: 5px;
  width: 147px;
  bottom: 40px;
  border-radius: 11px;
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}
.castAlert p {
  margin: 0;
  padding-top: 8px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  float: left;
}
/* .. */
.lds-spinner {
  left: 720px;
  color: official;
  display: none;
  position: absolute;
  top: 300px;
  width: 80px;
  height: 80px;
  z-index: 999;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
  border: 1px solid;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
